<h2>新規投稿</h2>
<%= form_with(model: @post, url: public_posts_path, local: true, html: { multipart: true }) do |f| %>
  <% if @post.errors.any? %>
    <div class="error_messages">
      <h3><%= @post.errors.count %> 件のエラーがあります</h3>
      <ul>
        <% @post.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  
    <h3>タイトル</h3>
    <%= f.text_field :title %>
  

  
    <h3>本文</h3>
    <%= f.text_area :body %>
  

 
    <h3>カテゴリ</h3>
    <%= f.text_field :category_name, value: @post.category&.name %>
    <small>既存カテゴリはサジェスト表示されます（後で追加予定）</small>

  
    <h3>画像(複数選択可)</h3>
    <%= f.file_field :images, multiple: true, name: "post[images][]" %>

  <%= f.submit "投稿" %>
<% end %>
