<div class="container my-5">
  <h2 class="mb-4">投稿詳細</h2>

  <table class="table table-bordered table-striped">
    <tbody>
      <tr>
        <th scope="row" style="width: 20%;">タイトル</th>
        <td><%= @post.title %></td>
      </tr>
      <tr>
        <th scope="row">カテゴリ</th>
        <td><%= @post.category&.name || "なし" %></td>
      </tr>
      <tr>
        <th scope="row">投稿者</th>
        <td><%= @post.user.full_name %></td>
      </tr>
      <tr>
        <th scope="row">本文</th>
        <td><%= simple_format(@post.body) %></td>
      </tr>
    </tbody>
  </table>

  <% if @post.images.attached? %>
    <div class="row mb-4">
      <% @post.images.each do |img| %>
        <div class="col-6 col-md-3 mb-3">
          <%= image_tag img.variant(resize_to_limit: [400, 300]), class: "img-fluid rounded shadow-sm", alt: @post.title %>
        </div>
      <% end %>
    </div>
  <% end %>

  <% if @post.user == current_user %>
    <div class="mb-4">
      <%= link_to "編集", edit_public_post_path(@post), class: "btn btn-outline-primary mr-2" %>
      <%= link_to "削除", public_post_path(@post), method: :delete,
                  "data-confirm" => "本当に削除しますか？", class: "btn btn-outline-danger" %>
    </div>
  <% end %>

  <%= link_to "投稿一覧に戻る", about_path, class: "btn btn-secondary" %>
</div>
