<div class="header">
  <nav class="header-nav">
    <%= link_to "About", about_path %>
    <%= link_to "投稿一覧", posts_path %>
    <% if user_signed_in? %>
      <%= link_to "マイページ", mypage_path %>
      <%= link_to "新規投稿", new_post_path %>
      <%= link_to "通知", notifications_path %>
      <%= link_to "ユーザー検索", users_path %>
      <%= link_to "検索", posts_path %>
      <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
    <% else %>
      <%= link_to "ログイン", new_user_session_path %>
      <%= link_to "新規登録", new_user_registration_path %>
      <%= link_to "ゲストログイン" guest_sign_in_path, method: :post %>
    <% end %>
  </nav>
</div>