  <nav>
    <ul>
      <li><%= link_to 'HOME', root_path %></li>
      <li><%= link_to 'about', about_path %></li>
      <li><%= link_to '新規登録', '#' %></li>
      <li><%= link_to 'ログイン', '#' %></li>
      <li><%= link_to 'ゲストログイン', '#' %></li>
    </ul>
  </nav>
